@model AwesomeAdminsEventManager.Models.Event
@{
    ViewData["Title"] = Model.Title;
}

<table class="table">
    <tr>
        <td>
			@Html.DisplayNameFor(Model => Model.EventId)
        </td>
		<td>
            @Html.DisplayFor(Model => Model.EventId)
		</td>
    </tr>
    <tr>
		<td>
            @Html.DisplayNameFor(Model => Model.Title)
		</td>
        <td>
			@Html.DisplayFor(Model => Model.Title)
            </td>
    </tr>
</table>