@model List<AwesomeAdminsPartyManager.Models.Party>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome</h1>

<div class="mb-3">
    @* pretend for now *@
    <a class="btn btn-primary" asp-controller="Parties" asp-action="Index">Sign In</a> 
</div>



