@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>AwesomeAdmins is a fictional company created by me, Suat Russell, solely to attach a brand to all my school work.</p>
<p>I literally do not care who sees this or steals my code.</p>
<p>I am, however, currently selling all your personal data to whoever will pay me for it.</p>
