body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header height, content fills space, footer height */
    min-height: 100vh; /* or 100dvh */
}

.card{
    width: 20rem;
}

footer{
    padding: 1rem;
}